<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >


<suite name = "practice_project">
	<test name ="login_test">
     <parameter name = "Browser"  value="chrome">
     	<classes>
     		<class name= "com.practice_project.testClass.TC_001_loginPage"/>
     	</classes>
      </parameter>
     </test>
</suite>